// begin footer
footer.footer
	.container
		.top-line
			+b.logo
				+e.A.img(href="#")
					img(src="../img/logo-foot.png", alt="")
				+e.text
					+e.top Переводчик <br>китайского языка
					+e.bottom_color_1 техническая тематика
			+b.main-contacts
				+e.txt
					+e.top Терехов Николай Олегович
					+e.A.btm(href="mailto:noterekhov@mail.ru") <i class="icon-email"></i>noterekhov@mail.ru
					br
					+e.A.btm(href="tel:+79307832585") <i class="icon-mobile"></i>+7 (930) 783-25-85
				ul.social
					li
						a.whatsapp(href="#")
					li
						a.viber(href="#")
					li
						a.facebook(href="#")
					li
						a.vk(href="#")
			+b.contacts
				+e.A.phone_color_1(href="tel:") <i class="icon-phone"></i>8 (4912) <span>512-585</span>
				br
				a.button.button_theme_1(href="#call") Заказать звонок
// end footer