@import "_fonts.scss";
@import "_variables.scss";
@import "_placeholder.scss";
@import "_normalize.scss";
@import "_bootstrap.scss";
@import "_base.scss";
@import "_sprite.scss";

@import "_jquery.mCustomScrollbar.scss";


@import "_play-button.scss";
@import "_up-button.scss";
@import "_popup.scss";

@import "_header.scss";
@import "_footer.scss";
@import "_form.scss";

@import "_grid-custom.scss";

@import "_slick.scss";
@import "_slick-theme.scss";

@import "_fancybox.scss";
@import "_ripple-effect.scss";
@import "_skew.scss";



i {
	display: inline-block;
}

img {
	max-width: 100%;
	height: auto;
}


.button {
	display: inline-block;
	text-decoration: none;
	font-family: $font; font-weight: 700;
	font-size: 17px;
	padding: 12px 24px 6px;
	cursor: pointer;
	border: none;
	outline: none;
	&_theme_1 {
		color: #f3f3f3;
		box-shadow: 0px 2px 0 rgba(22, 102, 132, 0.75);
		background-color: #31addb;
	}
	&_theme_2 {
		color: #333333;
		box-shadow: 0px 2px 0 rgba(#41600b, .9);
		background-color: #dbb931;
	}
	&_width {
		width: 246px;
	}
}







.section-main {
	background: url(../img/main.jpg) center top no-repeat;
	background-size: cover;
	padding-bottom: 108px;
	min-height: 569px;
	.main-title {
		margin-top: 102px;
		margin-bottom: 13px;
	}
	.transl {
		margin-bottom: 46px;
	}
	.subtitle {
		margin-bottom: 4px;
	}
	.form-wrap-triangle {
		position: relative;
		top: -13px;
		&:after {
			content: '';
			display: block;
			position: absolute;
			z-index: 2;
			top: 0;
			left: 100%;

			width: 0;
			height: 0;
			border: 13px solid transparent;
			border-left: 8px solid #a1861c;
			border-right-width: 0;
			border-bottom-width: 0;
		}
	}
}
.main-title {
	color: #464545;
	font-family: $font; font-weight: 900;
	font-size: 47px;
	line-height: 51px;
	&_line {
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 5px;
			height: 85px;
			background-color: #dbb931;
			left: -18px;
			top: 5px;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			top: 38px;
			border: 10px solid transparent;
			border-right: 7px solid #dbb931;
			border-top-width: 9px;
			border-bottom-width: 9px;
			border-left-width: 0;
			left: -25px;

		}
	}
}



.transl {
	color: #464545;
	font-size: 48px;
	font-weight: 300;
}
.subtitle {
	color: #32738b;
	font-family: $font; font-weight: 700;
	font-size: 32px;
}
.text-sm {
	color: #373636;
	font-family: $font; font-weight: 500;
	font-size: 17px;
}







.bg-pattern {
	position: relative;
	overflow-x: hidden;
	.container {
		position: relative;
		z-index: 2;
	}
	&_bl {
		background: url(../img/wt.jpg) center top repeat;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 65%;
			height: 100%;
			top: 0;
			left: 0;
			background: url(../img/bl.jpg) center top repeat;
			transform: skewX(22deg);
			transform-origin: left bottom;
		}
	}
	&_wt {
		background: url(../img/wt.jpg) center top repeat;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 65%;
			height: 100%;
			top: 0;
			left: 40%;
			background: url(../img/bl.jpg) center top repeat;
			transform: skewX(-22deg);
			transform-origin: left bottom;
		}
	}
	
}

.container {
	&_min {
		@include breakpoint("large") {
			padding-left: 75px;
			padding-right: 75px;
		}
	}
}


.section-advantages {
	padding-top: 45px;
	margin-top: -45px;
	overflow: hidden;

	.bg-pattern {
		overflow: visible;
		padding-bottom: 109px;
	}
	.title {
		margin-top: 67px;
		margin-bottom: 0px;
	}
}
.flex-adv {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: -45px;
	position: relative;
	z-index: 3;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-between;

}

.box-color {
	text-align: center;
	padding: 19px 10px 22px;
	&_1 {
		background-color: #31addb;
	}
	&_2 {
		background-color: #3496bb;
	}
	&_3 {
		background-color: #2a86a8;
	}

	&__icon-wrap {
		height: 65px;
		position: relative;
		margin-bottom: 27px;
	}

	&__i {
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&__title {
		color: #ffffff;
		font-family: $font; font-weight: 900;
		font-size: 20px;
	}

	&__p {
		color: #ffffff;
		font-family: $font; font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		margin-top: 10px;
		margin-bottom: 0;
	}
}
.icon-doc {
}


.title {
	color: #464545;
	font-family: $font;
	font-size: 38px;
	line-height: 43px;
	font-weight: 500;
	strong {
		display: block;
		font-weight: 900
	}
	&_line {
		position: relative;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 4px;
			height: 70px;
			background-color: #3496bb;
			left: -20px;
			top: 5px;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			top: 32px;
			border: 10px solid transparent;
			border-right: 6px solid #3496bb;
			border-top-width: 7px;
			border-bottom-width: 7px;
			border-left-width: 0;
			left: -26px;

		}
	}
}


.adv-wrap {
	&>* {
		margin-top: 50px;
		&:nth-child(2n+1) {
			clear: left;
		}
		&:nth-child(2n) {
			@include breakpoint("large") {
			      padding-left: 61px;
			}
		}
	}
}

.adv-item {
	&__title {
		color: #3496bb;
		font-family: $font; font-weight: 900;
		font-size: 28px;
	}

	&__p {
		color: #262626;
		font-family: $font; font-weight: 500;
		font-size: 21px;
		line-height: 25px;
		margin: 15px 0 0 0;
	}
}




.section-specialists {
	background: url(../img/specialists.jpg) center top no-repeat;
	background-size: cover;
	text-align: center;
	padding: 108px 0 107px;
	.sub {
		margin: 34px 0 51px;
	}
}
.head1 {
	color: #464545;
	font-family: $font; font-weight: 900;
	font-size: 34px;
	line-height: 38.99px;
}
.sub {
	color: #393838;
	font-family: $font; font-weight: 500;
	font-size: 25px;
	line-height: 32.99px;
}





.section-profile {
	padding-top: 40px;
	margin-top: -40px;
	overflow: hidden;
	.bg-pattern {
		overflow: visible;
	}
	.container_min {
		@include breakpoint("large") {
		      padding-right: 15px;
		}
	}
	.title {
		margin-top: 80px;
	}
	.name {
		margin-top: 49px;
    margin-bottom: 14px;
	}
	.mt-b {
		position: relative;
		margin-top: -80px;
	}
	.mt-t {
		padding-top: 5px;
	}
	.image-user {
		display: block;
		position: relative;
		top: -32px;
	}
	.plminl {
		@include breakpoint("large") {
			padding-left: 50px;
		}
	}
}

.name {
	color: #3496bb;
	font-family: $font; font-weight: 900;
	font-size: 28px;
}

.pos {
	color: #262626;
	font-family: $font; font-weight: 500;
	font-size: 21px;
}

.head2 {
	color: #464545;
	font-family: $font; font-weight: 900;
	font-size: 22px;
	    margin-bottom: 8px;
}

.text-numb {
	color: #247c9d;
	font-family: $font; font-weight: 700;
	font-size: 21px;
	line-height: 30px;
}

.list {
	li {
		color: #262626;
		font-family: $font; font-weight: 500;
		font-size: 21px;
		line-height: 30px;
	}
}

.sqr {
	li {
		color: #262626;
		font-family: $font; font-weight: 500;
		font-size: 21px;
		line-height: 30px;
		position: relative;
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 8px;
			height: 8px;
			left: -18px;
			top: 9px;
			background-color: #3496bb;
		}
	}
}

.mt30 {
	margin-top: 30px;
}

.sert-wrap {
	margin-left: -10px;
	margin-right: -10px;
	padding-top: 50px;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: flex-start;

	.col-cust {
		padding-left: 10px;
		padding-right: 10px;
	}
}




.section-form-1 {
	background: url(../img/bg-1.jpg) center top no-repeat;
	background-size: cover;
	text-align: center;
	padding: 133px 0 82px;
	margin-top: -60px;
	position: relative;
	.subtitle-sm {
		margin-top: 32px;
	}
	.form-h {
		margin: 47px 0 0;
	}
	.center {
		margin-top: 49px;
	}
}
.title-white {
	color: #ffffff;
	font-family: $font; font-weight: 900;
	font-size: 50px;
	line-height: 1;
}
.subtitle-sm {
	color: #ffffff;
	font-family: $font; font-weight: 500;
	font-size: 18px;
}

.subtitle-md {
	color: #ffffff;
	font-family: $font; font-weight: 700;
	font-size: 24px;
}


.w100 {
	width: 100%;
}


.section-client {
	padding: 80px 0 120px;
}

.client-wrap {
	margin-top: 60px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	.w100 {
		margin-top: 35px;
	}
	&__item {
		max-width: 220px;
	}
}

.section-comment {
	padding-bottom: 83px;
	.cst {
		@include breakpoint("large") {
			padding-left: 55px;
			padding-right: 55px;
		}
	}
}

.main-slider {
	margin-top: 69px;
	margin-bottom: 40px;
}
.main-slider-item {
}
.slide {
	display: flex;
	align-items: stretch;
	flex-wrap: nowrap;
	justify-content: space-between;

	&__img {
		flex-shrink: 0;
		img {
			max-width: 196px;
			display: block;
		}
	}

	&__texts {
		flex-grow: 1;
		padding-left: 60px;
	}

	&__title {
		color: #3496bb;
		font-family: $font; font-weight: 900;
		font-size: 28px;
	}

	&__p {
		color: #262626;
		font-family: $font; font-weight: 500;
		font-size: 21px;
		line-height: 31px;
		margin: 8px 0 12px;
	}

	&__name {
		color: #262626;
		font-family: $font; font-weight: 700;
		font-size: 21px;
	}
}








.section-form-2 {
	background: url(../img/bg-2.jpg) center top no-repeat;
	background-size: cover;
	text-align: center;
	padding: 84px 0 84px;
	position: relative;
	.button {
		flex-grow: 1;
	}
	.subtitle-md {
		margin: 20px 0 40px;
	}
}



.section-map {

}

#map-canvas {
	height: 420px;
	width: 100%;
}